@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));
@custom-variant light (&:where(.light, .light *));

@theme inline {
  --font-mukta: var(--font-mukta);
}

body {
  @apply dark:bg-zinc-950 dark:text-zinc-50 light:bg-zinc-50 light:text-zinc-950
}

.icon {
  @apply w-6 h-6
}

.icon-small {
  @apply w-auto h-auto
}

.clickable {
 @apply hover:scale-105 hover:cursor-pointer transition-all duration-200
}

.clickable:hover {
  @apply dark:drop-shadow-[0_0_8px_rgba(255,255,255,0.15)] light:drop-shadow-[0_0_8px_rgba(0,0,0,0.1)]
}

.base-navtab {
  @apply flex-1 text-center py-1.5 px-3 rounded-none md:rounded-sm dark:hover:bg-zinc-900 light:hover:bg-zinc-100
}

.active-navtab {
  @apply font-bold dark:bg-zinc-900 dark:hover:bg-zinc-900 light:bg-zinc-100 light:hover:bg-zinc-100
}

.experience-navtab {
  @apply font-normal dark:bg-zinc-900 dark:hover:bg-zinc-800 light:bg-zinc-100 light:hover:bg-zinc-200 hover:scale-101 rounded-none transition-all duration-200
}

.experience-navtab-active {
  @apply font-bold dark:bg-zinc-800 dark:hover:bg-zinc-800 light:bg-zinc-200 light:hover:bg-zinc-200 dark:shadow-inner light:shadow-inner
}

.navbar {
  @apply md:flex flex-col md:flex-row w-[100%] mb-2 md:mb-0 md:w-auto
}

.custom-section {
  @apply flex flex-col w-[100%] p-5 dark:bg-zinc-950 light:bg-zinc-50 gap-6
}
